.card{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.titulo-formulario {
  color: var(--verde-primario);
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.campos-formulario {
  margin-bottom: 20px;
  width: 100%;
}

.campo {
  margin-bottom: 10px;
}

input[type='password'] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-enviar {
  background-color: var(--verde-primario);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.btn-enviar:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}