<div>
    <form>
        <label>Disciplina ou Professor</label>
        <input type="text" placeholder="Pesquisar" class="search-input">

        <label>Curso</label>
        <select>
            <option>Todas</option>
            <option>Computação</option>
            <option>Elétrica</option>
            <option>Mecânica</option>
            <option>Ambiental</option>
            <option>Civil</option>
        </select>
        <button class="btn btn-custom w-100">Pesquisar</button>
    </form>
    
</div>